.showbjbox{
  background: rgba(255,255,255,0.8);
}
.showbjbox{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  z-index: 99;
}
.openboxs-mask {
  background: 0;
}
.openboxs-warn, .openboxs-mask {
  width: 74px;
  height: 74px;
  line-height: 74px;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left:-37px;
  margin-top:-37px;
  z-index: 100;
}
.openboxs-mask .tip-dialog {
  color: #fff;
}
.tip-dialog {
  display: block;
  text-align: center;
}

.openboxs-mask img {
  height: 74px;
  width: 74px;
  border-radius: 10px;
}
.showbjbox img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}
.zoomInDown{
-webkit-animation: zoomInDown .3s ease-in-out;
}
@-webkit-keyframes zoomInDown{0%{opacity:0;-webkit-transform:scale3d(.1,.1,.1) translate3d(0,-1000px,0);transform:scale3d(.1,.1,.1) translate3d(0,-1000px,0);-webkit-animation-timing-function:cubic-bezier(.55,.055,.675,.19);animation-timing-function:cubic-bezier(.55,.055,.675,.19)}
60%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(0,60px,0);transform:scale3d(.475,.475,.475) translate3d(0,60px,0);-webkit-animation-timing-function:cubic-bezier(.175,.885,.32,1);animation-timing-function:cubic-bezier(.175,.885,.32,1)}
}
@keyframes zoomInDown{0%{opacity:0;-webkit-transform:scale3d(.1,.1,.1) translate3d(0,-1000px,0);transform:scale3d(.1,.1,.1) translate3d(0,-1000px,0);-webkit-animation-timing-function:cubic-bezier(.55,.055,.675,.19);animation-timing-function:cubic-bezier(.55,.055,.675,.19)}
60%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(0,60px,0);transform:scale3d(.475,.475,.475) translate3d(0,60px,0);-webkit-animation-timing-function:cubic-bezier(.175,.885,.32,1);animation-timing-function:cubic-bezier(.175,.885,.32,1)}
} 