body#gray{background:#efeff4}
body{min-width:320px}
body.home-template{background:#f2f2f2;padding-bottom:80px}
nav,section{overflow:hidden}
a:hover{cursor:pointer}
small{font-size:0.9rem}
i{font-style:normal}
.setover{white-space:nowrap;text-overflow: ellipsis;overflow: hidden;}
img.top{width:100%;margin-bottom:-2px}
nav a{float:left;width:25%;height:41px;line-height:41px;text-align:center;color:#fff;font-size:0.875rem}
nav a:nth-child(1){background:#e83c3c}
nav a:nth-child(2){background:#ff7701}
nav a:nth-child(3){background:#6cb4ff}
nav a:nth-child(4){background:#76ba41}

section{width:292px;margin:16px auto 0 auto;position:relative;}

/*
section.gray{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);   
    filter: grayscale(100%);
    filter: gray;
 }

section.gray  .left img{
     filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); 
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);   
    filter: grayscale(100%);
    filter: gray;
}


 */

section.gray .item{border:1px solid #aaa;
 } 
section.gray  a.detail{background: url(../images/detail_.png) 12px center no-repeat;background-size:52px 21px;}
section.gray .div{width:6px;height:112px;background: url(../images/i_.png) center center no-repeat;background-size:5.5px 112px;position:absolute;left:215px;top:0px}
section.gray  .left img{filter: gray;}
.cover{width:218px;height:112px;border:1px solid #aaa;background:#000;position:absolute;left:0;top:0;opacity:1;border-radius:6px;display:none}
section.gray .cover{display:block}



section .div{width:6px;height:112px;background: url(../images/i.png) center center no-repeat;background-size:5.5px 112px;position:absolute;left:215px;top:0px}
section .item{width:290px;height:110px;border:1px solid #e83c3c;border-radius:5px;overflow:hidden}
.left{float:left;width:217px;height:110px;}
.right{float:left;width:72px;height:110px;}
.left img{float:left;width:217px;height:110px;}
article {position:absolute;width:200px;height:28px;background-color:rgba(0,0,0,0.5);z-index:3;border-radius:5px;left:8px;bottom:6px}
article h1{float:left;width:86px;color:#fff;font-size:0.8rem;line-height:28px;text-align:center;letter-spacing:0.1em;font-weight:normal}
article ul{float:left;width:114px;list-style:none;color:#fff;font-size:0.70rem;line-height:1.15;padding-top:1px}
article ul i{text-decoration:line-through;padding-left:1em}

article ul li span{font-size:0.75rem}
section:nth-child(odd) a.get01
{
background: url(../images/get2.png) center center no-repeat;background-size:55px 55px;
}

section:nth-child(odd) a.dui01
{
background: url(../images/dui2.png) center center no-repeat;background-size:55px 55px;
}

section.gray a.get01,section.gray a.dui01{
background:none
}
section.gray a.get01:before{
content:'已抢完';line-height:82px;padding-left:13px;
}

section.gray a.dui01:before{
content:'已兑换';line-height:82px;padding-left:13px;
}


a.get01{width:72px;height:70px;display:inline-block;background: url(../images/get.png) center center no-repeat;background-size:55px 55px;}
a.dui01{width:72px;height:70px;display:inline-block;background: url(../images/dui.png) center center no-repeat;background-size:55px 55px;}
a.detail{width:72px;height:21px;margin-top:10px;display:inline-block;background: url(../images/detail.png) 12px center no-repeat;background-size:52px 21px;}
footer{height:60px;width:100%;position:fixed;left:0;bottom:0;background:#fff;border-top:1px solid #d3d3d3}
a.btn_red,a.btn_red:hover{background:#db5252;color:#fff;width:100%;display:inline-block;height:35px;line-height:35px;border-radius:5px;text-align:center}
a.btn_blue,a.btn_blue:hover{background:#6cb4ff;color:#fff;width:100%;display:inline-block;height:40px;line-height:40px;margin-top:20px;border-radius:5px;text-align:center}

.setover{white-space:nowrap;text-overflow: ellipsis;overflow: hidden;}
p.intro{margin:60px 18px 0 18px;color:#333;line-height:1.3;}
input.insert{display:block;height:45px;text-indent:1em;background:#fff;border:1px solid #a098a5;width:100%;border-radius:6px;margin-top:10px;box-sizing: border-box}
input.insert:focus{outline:none}

.bg_card{width:253px;height:120px;box-sizing:border-box;padding-top: 30px;text-align:center;letter-spacing:0.1em;color:#fff;background: url(../images/bg_card.png) 0 center no-repeat;background-size:253px 102px;margin:0 auto}
.bg_card h1{font-size:0.9rem;line-height:1.5;width:133px;font-weight:normal;margin:0 auto}
.bg_card h2{font-size:0.7rem;font-weight:normal;line-height:1.4;width:133px;margin:0 auto}
.wrap_55{margin:12px 55px}
.wrap_35{margin:7px 35px}
.wrap_20{margin:0px 30px}

/**** iphone6的宽度 ***/
@media (min-width:375px) { 
section{zoom:1.17}
}
/*

@media (min-width:768px) {
	marquee{top: -61px;
left:120px;}
.form-control{margin-top:20px;}
 *{font-size:20px;}
 .switch { top: 25px;}
 .item-public a,.right_nearby .item-public a{height:80px;line-height:80px;font-size:28px;}
 .item-shopping-detail dt{font-size:24px;line-height:65px;}
 table tr td.td_first{width:130px;}
 table tr td.td_first_middle{width:100px;}
 
 table tr td.td_first_short{width:80px;}

 .item-public a .dot,.right_nearby .item-public a .dot{background:url(../images/dot.png) right center no-repeat;width:25px;height:25px;position:absolute;right:10px;top:29px;background-size:100%}
 .item-public a.show .dot{background:url(../images/dot_.png) right center no-repeat;background-size:100%;width:25px;height:25px;}
 .right_nearby .item-public a span.money{right:60px}
 a.btn_red,a.btn_blue,a.btn_green,a.btn_red_light  {height:80px;border-radius:10px;line-height:80px;font-size:28px;}
 a#dialog_ok,#dialog_ok_first{line-height:40px;font-size:18px;height:40px;}
 #dialog .dialog_content a.item-public-title{height:40px;line-height:40px;font-size:18px;}
 }
 
 
 .form-control {
box-shadow: none;
}


*/





.detaiPage_wrap{display:none}

.frame{background:#000;opacity:0.7;position:absolute;top:0;left:0;width:100px;position:fixed;display:none;z-index:998}
#dialog{border-radius:5px;background:#f2f2f2;position:fixed;padding:0 10px;border-radius:5px;display:none;z-index:999;margin:10px;top:60px}
#dialog .dialog_top{width:100%;height:45px;border-bottom:1px solid #cacaca;text-align:center;line-height:45px;}
#dialog .dialog_top span{float:left;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;text-align:center;}

#dialog .dialog_top a.close{position:absolute;top:10px;right:10px;width:25px;;height:25px;opacity:1;background: url(../images/close.png) center center no-repeat;cursor:pointer;background-size:22px 22px}
#dialog .dialog_content{width:100%;padding:7px 0px;min-height:200px;overflow:auto}



@media (min-width:768px) {

 #dialog .dialog_content a.item-public-title{height:40px;line-height:40px;font-size:18px;}
 }
 
 
 .form-control {
box-shadow: none;
}