
<!DOCTYPE html>
<html lang = "zh-CN" ng-app = 'smkApp' style='font-size:16px'>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta content="" name="Keywords">
	<meta content="" name="Description">
	<!-- Mobile Devices Support @begin -->
	<meta http-equiv="Content-Type" content="application/xhtml+xml;charset=UTF-8">
	<meta http-equiv="Cache-Control" content="no-cache,must-revalidate">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="expires" content="0">
	<meta name="format-detection" content="telephone=no, address=no">
	<meta content="yes" name="apple-mobile-web-app-capable"> <!-- apple devices fullscreen -->
	<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
    <link rel="stylesheet" href="css/css.css" />
	<style type="text/css">
	 input{-webkit-appearance: none;padding:10px 40px;border:1px solid #aaa;text-align:center;width:100%;box-sizing:border-box}
	 a{display:block;background:#ff3300;height:40px;line-height:40px;color:#fff;margin-top:10px;}
	 .test{margin:30px}
	</style>
</head>
<body ng-controller = 'Main'>
 <!-- 等待 -->
 <div class="load">
      <img src="img/xiaohongbao.png" alt="" />
	  <p class='p3' id='p3'>loading</p>
	  <br />
	  <div class="test">
		  <p class='p3'>userId(优先从App获取，其次从localstorage获取)</p>
		  
		  <input type="text" maxLength='11' ng-model = 'userId' /><br />
		  <span  ng-bind='time'></span>
		  <a ng-click='test()'>确认进入</a>
          <a ng-click='reset()'>重置手机号码</a>			  
	  </div>

 </div>
 
 <!-- 去登录 --> 
 <div class="login">
      <img src="img/hongbao.png" alt="" />
	  <p class='p3'>快去登录/注册，让红包带你飞</p>
	  <a href="javascript:smknative.openLoginView()">去登录/注册</a>
 </div> 
 
 <!-- 主体 --> 
 <div class="main" >
    <div class="envelope">
	   <div class="open" ng-click='open()'>
	    <div class="inner"></div>
	   </div>
	   <div class="open win" ng-show='win'></div>	   
	</div>
	<!-- 初始化 -->
	<p ng-show='beforeOpen' >恭喜您，获得一次抽奖机会!</p>
	<div class="footer" ng-show='beforeOpen'></div>
	
	
	<!-- 中奖 -->
	<p ng-show='win' class='p1'>恭喜您，获得公交充值红包</br><span ng-bind='money' ></span>元</p>
	<div  ng-show='win' class="footer_win">前往交易记录</br><span>请进入"公交充值-交易记录"收取</span></div>	


	<!-- 未中奖 -->
	<p ng-show='fail' class='p2'>未中奖，谢谢参与</p>	
	
 </div>
 
 <!-- 弹出框模块 -->
 <div class="modal-overlay"></div>
 <div class="modal">
   <div class="modal-inner"><div class="modal-text"></div></div>
   <div class="modal-buttons"><span class="modal-button modal-button-bold">关闭</span></div>
 </div>
 
</body>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/angular-sanitize.min.js"></script>
<script type="text/javascript" src="js/test.js"></script>
</html>
