@charset "utf-8";
/* CSS Document */
/* 海商网手机端界面 min320 max640 */
/* 2014.06.20 design by tuy */

* {-webkit-tap-highlight-color: rgba(0,0,0,0); font-family:"Microsoft YaHei"; }
html {font-size: 62.5%;}
body {font: 1.2rem/1.4 Arial,Helvetica,sans-serif;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;background:#eeeeee}
body,ul,li,h1,h2,h3,p {margin: 0;padding: 0;}
input[type="text"],input[type="search"] {-webkit-appearance: none;-webkit-tap-highlight-color: #fff;outline: 0;}
table {border-collapse: collapse;border-spacing: 0;}
ul,li {list-style-type: none;}
em,i {font-style: normal;}
img {border: none;vertical-align: middle;}
a{color: #000;outline: none;text-decoration: none;}
.clearfix:after { display:block; height:0; font-size:0; clear:both; content:''; visibility:visible; }
.clearfix { zoom:1; }

#main {position:relative;min-width:320px;max-width:640px;margin:0 auto;letter-spacing:0.1em;}
.logo{height:70px; background:#fff; border-bottom:1px solid #ccc}
.logo img{height:45px; margin-top:10px; margin-left:20px;}
.box_swipe{overflow:hidden;position:relative;}
.box_swipe img{width:100%;height:auto;}
.box_swipe>ol{height:25px;position: relative;z-index:10;text-align:center; overflow:hidden; margin:0;margin-top:-35px;padding:0; padding-bottom:10px;}
.box_swipe>ol>li{display:inline-block;margin:5px;width:15px;height:15px;background-color:#ffffff;border-radius: 10px;}
.box_swipe>ol>li.on{background-color:#f36422;}

.menu_box{padding:20px 0 10px; background:#FFF; border-bottom:1px solid #dedede; margin-bottom:20px;}
.menu{ padding:0 3%; margin-bottom:5px;}
.menu li{float:left;height:105px;width:100%}
.spmg--left{ margin-left:5px}
.menu li a{ display:block; width:100%;height:105px; font-size:16px; color:#fff; text-align:center;}
.nav_about{ background:#388ee5;}
.nav_honour{ background:#77cb23}
.nav_news{ background:#ddbb15}
.nav_product{ background:#24d37c}
.nav_service{ background:#ea9927}
.nav_demo{ background:#16c4c3}
.nav_support{ background:#e22a2a}
.nav_canvass{ background:#7e4ecd}
.nav_backfeed{ background:#e31a93}
/*
.nav_about:hover{ background:url(../images/greenlight.png) no-repeat center center #388ee5;}
.nav_honour:hover{ background:url(../images/greenlight.png) no-repeat center center #77cb23}
.nav_news:hover{ background:url(../images/greenlight.png) no-repeat center center #ddbb15}
.nav_product:hover{ background:url(../images/greenlight.png) no-repeat center center #24d37c}
.nav_service:hover{ background:url(../images/greenlight.png) no-repeat center center #ea9927}
.nav_demo:hover{ background:url(../images/greenlight.png) no-repeat center center #16c4c3}
.nav_support:hover{ background:url(../images/greenlight.png) no-repeat center center #e22a2a}
.nav_canvass:hover{ background:url(../images/greenlight.png) no-repeat center center #7e4ecd}
.nav_backfeed:hover{ background:url(../images/greenlight.png) no-repeat center center #e31a93}
*/
.menu li a span.icon{ display:inline-block;width:38px;height:38px; background:url(../images/navigation.png) no-repeat 0 0;background-size:32px 340px; margin:15px auto 5px;}
.menu li .nav_honour span.icon{background-position:2px -38px}
.menu li .nav_news span.icon{background-position:2px -76px}
.menu li .nav_product span.icon{background-position:2px -114px}
.menu li .nav_service span.icon{background-position:2px -152px}
.menu li .nav_demo span.icon{background-position:2px -190px}
.menu li .nav_support span.icon{background-position:2px -228px}
.menu li .nav_canvass span.icon{background-position:0px -266px}
.menu li .nav_backfeed span.icon{background-position:2px -304px}


.list_box{padding:20px 3% 10px; background:#FFF;border-top:1px solid #dedede; border-bottom:1px solid #dedede; margin-bottom:20px;}
.list_box h3.list_box_title{ font-size:22px; font-weight:normal; color:#333; padding-bottom:10px;}
.list_box h3.list_box_title .moer{font-size:18px;width:100%; display:inline-block; font-weight:normal; color:#333;text-align:center;}
.list_box h3.list_box_title .moer:hover{ color:#ff0000}
.hot_list li{width:47%;float:left;padding-bottom:10px;cursor:pointer}
.hot_list li.hot-iteml{ padding-right:3%;position: relative;overflow: hidden;}
.hot_list li.i1::after{content: '';position:absolute;right: 0;top: 0;height: 100%;border-right: 1px solid #dedede;}
.hot_list li.hot-itemr{ padding-left:3%;}
.hot_list li img{width:100%;}
.hot_list li .cen p{padding:5px 0;}
.hot_list li .cen p a{font-size:18px; color:#666}
.hot_list li .cen .price{ color:#ff0000; font-size:26px;}
.hot_list li .cen .price span{ color:#999; font-size:18px;}



.top_menu{height:60px; background: url(../images/logo.png) center center no-repeat; background-color:#fff; border-bottom:1px solid #ccc;position:relative;display:table-cell;vertical-align:middle;width:640px;}

/*  原稿
.top_menu .return{ display:inline-block; text-align:left;width:20%;margin-left:2em;padding-left:1.5em;background: url(../images/return.png) 0 center no-repeat;background-size:18px 28px;vertical-align:top;margin-top:15px;}
.top_menu .return a{ color:#666; font-size:1.8em; line-height:28px;font-weight:normal;}
.top_menu .return span{display: inline-block;height: 21px;color: #666;line-height: 28px;width:12px;background: url(../images/return.png) no-repeat;background-size:12px 21px; vertical-align:bottom; margin-right:5px;}
.top_menu .right{ display:inline-block; text-align:right;width:20%;padding-right:4%}

*/

/*
.top_menu a{color:#666; font-size:1.7em;line-height:44px;height:44px;position:absolute;top:7px;cursor:pointer}
.top_menu a:hover{color:#f26521}
.top_menu a.return{ padding-left:20px;background: url(../images/return.png) 0 center no-repeat;background-size:14px 24px;left:25px;}
.top_menu a.index{right:26px}
*/

.top_menu a{color:#666; font-size:17px;cursor:pointer;position:relative}
.top_menu a:hover{color:#f26521}
.top_menu a.return{ padding-left:20px; background: url(../images/return_small.png) 0 center no-repeat;left:20px;}
.top_menu a.index{right:26px;position:absolute;}


.top_menu .cen{height: 45px;line-height: 45px;display:inline-block;width:50%;font-size: 16px;color: #666;text-align: center;overflow: hidden;word-wrap: break-word;word-break: break-all;-webkit-box-flex: 1;box-flex: 1; margin-top:5px;}
.top_menu .cen img{height:45px;}

.title{height:60px;margin:0 16px;}
.title span{padding:0 5px;color:#fff;font-size:2.6rem;float:left;margin-top:10px;height:37px;line-height:34px;position:relative;}
.title span em{position:absolute;bottom:-5px;left:50%;margin-left:-10px;width:0;height:0;border-right:10px solid transparent;border-left:10px solid transparent;border-top:10px solid;
        z-index:2;}
.title .blue{background:#388ee5;}
.title .pink{background:#e31a93;}
.title .purple{background:#7e4ecd;}
.title .light_blue{background:#16c4c3}
.title .green{background:#77cb23;}
.title .light_green{background:#24d37c;}
.title .yellow{background:#ddbb15;}
.title .red{background:#e22a2a;}

.title .blue em{border-top-color:#388ee5}
.title .pink em{border-top-color:#e31a93}
.title .purple em{border-top-color:#7e4ecd}
.title .light_blue em{border-top-color:#16c4c3}
.title .light_green em{border-top-color:#24d37c;}
.title .green em{border-top-color:#77cb23}
.title .yellow em{border-top-color:#ddbb15}
.title .red em{border-top-color:#e22a2a;}


.round_cen{ margin:8px;padding:18px 10px;border:1px solid #dedede; border-radius:6px; background:#fff;font-size:1.6rem;}
.panel .cen{color:#888888; line-height:150%; font-size:1.6rem;letter-spacing:0.1em;}
img.center {width:auto;max-width:100%; margin:25px auto auto auto;display:block;}
img.center_top{width:100%; margin:auto auto 25px auto;display:block;}
img.center_bottom{width:100%;  margin:25px auto auto auto;display:block;}
img.left_top{float:left;margin:0px 8px 0px auto}
h3.font_blue{color:#5ea1e9;font-size:2.4rem;font-weight:normal; margin-bottom:10px;}


/* join 招商加盟   begin*/
ul.join {width:100%;}
ul.join li {width:100%;border-bottom:1px solid #dfdfdf ;padding-bottom:10px;}
ul.join li a{font-size:1.6rem;width:100%;display:block;}
ul.join li a.name{line-height:20px;color:#555;padding-top:10px;padding-bottom:7px;}
ul.join li a.content{line-height:150%;color:#a3a3a3;clear:left;}
ul.join li a:hover{color:#f46422}

h3.artical{font-size:2.0rem;font-weight:normal;color:#000;line-height:27px;text-align:center;}
#artical_data{color:#aaa;text-align:center;padding:10px 0;}
.dark_bg {padding:20px 30px;line-height:40px;border-top:1px solid #dedede;border-bottom:1px solid #dedede ;background:#f1f1f1;color:#7e7e7e }
.light_bg {padding:20px 10px;margin-top:20px;line-height:20px;border-top:1px solid #dedede;border-bottom:1px solid #dedede ;background:#fff;color:#aaa }

p.default {color:#999999;padding-top:20px;line-height:25px;}
p.em2{text-indent:2em;}
.line {border-bottom:1px solid #ccc;height:2px;margin-bottom:-16px;}
.line_product {border-bottom:1px solid #ccc;height:2px;margin-bottom:10px;}
/* join 招商加盟   end*/

/* demo 案例展示   begin*/
ul.cases {width:100%;}
ul.cases li {width:100%;border-bottom:1px solid #dfdfdf;padding-bottom:8px;padding-top:14px;display:inline-block}
ul.cases li div{vertical-align:center;height:98px;vertical-align:middle; display:table-cell;}
ul.cases li img {margin-bottom:10px;float:left;margin-right:20px;}

ul.cases li a.name{line-height:20px;color:#666;}
ul.cases li span.data{line-height:30px;color:#a3a3a3;}
ul.cases li a:hover{color:#f46422}

/* demo 案例展示   end*/


/* 产品展示   begin*/
.product {margin-top:10px;padding-bottom:18px;}
.product li{width:47%;float:left;padding-bottom:10px;cursor:pointer;}
.product li.hot-iteml{ padding-right:3%;position: relative;overflow: hidden;}
.product li.i1::after{content: '';position:absolute;right: 0;top: 0;height: 100%;border-right: 1px solid #dedede;}
.product li.hot-itemr{ padding-left:3%;}
.product li img{width:100%;}
.product li .cen p{padding:5px 0;}
.product li .cen p a{font-size:18px; color:#666}
.product li .cen .price{ color:#ff0000; font-size:26px;}
.product li .cen .price span{ color:#999; font-size:18px;}

/* 产品展示   end*/


/*  backfeed*/
.backfeed {margin:0 16px;font-size:1.6rem;}
.backfeed  textarea{display:block;width:100%;height:90px;border:1px solid #ccc;text-indent:0.5em;}
.backfeed  input.all{display:block;width:100%;height:40px;border:1px solid #ccc;line-height:40px;margin-top:15px;text-indent:0.5em;}
.backfeed  input.short{display:inline-block;width:65%;height:40px;border:1px solid #ccc;line-height:40px;margin-top:15px;text-indent:0.5em;}
.backfeed .submit{display:inline-block;width:33%;float: right;margin-top: -44px;border:0;height:102px;line-height:102px;background:#e31a93;color:#fff;font-size:2.9rem;text-align:center;}
.backfeed .submit:hover{background:#d21788}


	/* slide */
	.slideBox{ position:relative; width:300px;  height:340px; margin:10px auto;padding-top:34px }
	.slideBox .hd{ position:absolute; width:100%;  height:27px; bottom:0; left:0; z-index:1; }
	.slideBox .prev,.slideBox .next{cursor:pointer; position:absolute; left:-90px; top:-210px; display:block; width:74px; height:74px; line-height:27px; text-align:center;background:url(../images/left_slider.png) center center no-repeat;   }
	.slideBox .next{ left:auto; right:-90px;background:url(../images/right_slider.png) center center no-repeat;}
	.slideBox .next:hover{background:url(../images/right_slide.png) center center no-repeat}
	.slideBox .prev:hover{background:url(../images/left_slide.png) center center	 no-repeat}
	.slideBox .bd{ position:relative; z-index:0; }
	.slideBox .bd li{ position:relative; }
	.slideBox .bd li img{ width:300px;  height:300px; display:block;   }
	.slideBox .bd li a{ -webkit-tap-highlight-color:#fff; /* 取消链接高亮 */  }
	
	.slideBox p{text-align:center;font-size:2.5rem;color:#666}
	.slideBox p b{font-weight:normal;color:#ff0000}
	.slideBox p b.total_pages{font-weight:normal;color:#666}
	
h3.list_box_title_product	{font-size:2.2rem; font-weight:normal; color:#333; padding-bottom:0px;}
.list_box p.default{font-size:2.0rem;padding-top:10px;padding-bottom:20px;color:#a9a9a9;line-height:2.5rem;}
.list_box p.default b{color:#ff0000;font-weight:normal;font-size:3.2rem;letter-spacing:-0.05em;display:inline-block;padding-top:10px;}
/* adjust*/
@media screen and (max-width:350px){
.top_menu a.return{left:15px;}
.top_menu a.index{right:20px}

}
@media screen and (max-width:450px){
.backfeed  input.short{display:inline-block;width:57%;height:40px;border:1px solid #ccc;line-height:40px;margin-top:15px;text-indent:0.5em;}
.slideBox .hd a,.slideBox .hd a:hover{ background-size:50px 50px }
.slideBox .bd li img{ width:180px;  height:180px; display:block;   }
.slideBox .prev,.slideBox .next{top:-140px;left:-80px; }
.slideBox .next{ left:auto; right:-80px;}
.slideBox{ position:relative; width:180px;  height:214px; margin:10px auto; }
.backfeed .submit{display:inline-block;width:39.2%;float: right;margin-top: -44px;height:102px;line-height:102px;background:#e31a93;color:#fff;font-size:2.9rem;text-align:center;}
.product li .cen .price,.hot_list li .cen .price{ color:#ff0000; font-size:22px;}
.product li .cen .price span,.hot_list li .cen .price span{ color:#999; font-size:14px;}

}
