 <div class="main" >
    <div class="envelope">
	   <div class="open" ng-click='open()' ng-show='open_'>
	    <div class="inner"></div>
	   </div>
	   <div class="open win" ng-show='win'></div>	   
	</div>
	<!-- 初始化 -->
	<p ng-show='open_p' >恭喜您，获得一次抽奖机会!</p>
	<p class='rule' ng-show='open_p' ><lable ng-click='openRule()'><i  class="icon iconfont">&#xe600;</i>活动规则</lable></p>	
	<div class="footer" ng-show='open_p' ></div>
	
	
	<!-- 中奖 -->
	<p ng-show='win' class='p1'>恭喜您，获得公交充值红包<br><span ng-bind='money' ></span>元</p>
	<div  ng-show='win' class="footer_win"><span>请进入"公交充值-交易记录"收取</span></div>	


	<!-- 未中奖 -->
	<p ng-show='fail' class='p2'>未中奖，谢谢参与</p>	
	
 </div>